GOOGLE_CLIENT_ID=ton_client_id_ici
GOOGLE_CLIENT_SECRET=ton_client_secret_ici
SESSION_SECRET=une_chaine_aleatoire_longue_ici
CLIENT_URL=http://localhost:5173
DATABASE_URL=postgresql://user:password@localhost:5432/ta_db
PORT = 1234
